body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: black;
   color: white;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}

.iteam{

margin-left: 30px;
display: flex;
gap: 5rem;
flex-wrap: wrap;

}
img{
    width: 10rem;
    height: 133rem;
}

.card{
    width: 30rem;
    height: 27rem;
    border: 3px solid gray;
}